// Define variables for your color scheme

// For example:
$red: #A23131; //Book now button
$lightgreen: #E8ECD6; //See details button
$green: #A1DD70; //Headers green
$lightgrey: #FDFFF0; // Background color
