#div-1 {
  text-align: center;
  padding-top: 10px;
}

#div-2 {
  padding: 25px 75px;
  // margin: 10px;
}

#row1{
  background-color: gray;
  padding: 200px 220px;
  border-radius: 3px;
}

#row2{
  background-color: black;
  padding: 50px 300px;
  border-radius: 3px;
}

#div-3 {
  padding: 0px 75px;
}

#thick-button {
  padding: 30px;
  text: bold;
}

#div-4 {
  padding: 25px 75px;
}

#row3 {
  background-color: gray;
  padding: 200px 220px;
  border-radius: 3px;
}

#row4 {
  background-color: black;
  padding: 50px 300px;
  border-radius: 3px;
}

#row4 image_tag {
  width: 40px;
  height: 100px;
}
