<div class="background_home" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://res.cloudinary.com/giugoe/image/upload/v1551405593/ben-duchac-66002-unsplash.jpg');">
  <div class="container" style="text-align: center">
    <br>
    <div style="margin-top: 150px">
    </div>
    <br>
    <br>
    <p class="typed_font">
      CATCHUP <span id="banner-typed-text", class="typed"></span>
    </p>

    <div style="margin-top: 100px">
    <%= link_to "DISCOVER ALL CATCHUPS!", catchupevents_path, :class => 'btn btn-red home' %>
    </div>
  </div>

</div>

