<div class="background_home" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path 'https://images.unsplash.com/photo-1493970761637-dea31d1555ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80' %>');">
  <div class="container" style="text-align: center">
    <div style="margin-top: 150px">
     <%= image_tag "Logo_no_white_background.png", height: 100 %>
    </div>

    <div style="margin-top: 150px">
    <%= link_to "DISCOVER ALL CATCHUPS!", catchupevents_path, :class => 'btn btn-green', :width => '1000 px' %>
    </div>
  </div>

</div>

