.btn {
  color: white;
  padding: 10px 22px;
  border-radius: 4px;
  transition: background 0.3s ease;
  font-size: 14px;
}

.btn-green {
  background: $green;
}

.btn-green:hover {
  background: #8fd461;
  color: white;
}

.btn-red {
  background: $red;
}

.btn-red:hover {
  background: #8c221f;
  color: white
}

.home {
  padding: 14px 35px;
  font-size: 17px;
  color: white;
  font-weight: bold;
}

.btn-blue {
  background: #469AE0;
}

.btn-blue:hover {
  background: #3273C7;
  color: white
}
