.btn {
  color: white;
  padding: 10px 22px;
  border-radius: 4px;
  transition: background 0.3s ease;
  font-size: 14px;
}

.btn-green {
  background: #1EDD88;
}

.btn-green:hover {
  background: #1BCB7F;
  color: white;
}

.btn-red {
  background: #EE5F5B;
}

.btn-red:hover {
  background: #E05C55;
  color: white
}

.btn-blue {
  background: #469AE0;
}

.btn-blue:hover {
  background: #3273C7;
  color: white
}
