.card {
  border: 1px solid lightgreen;
  color: white;
  text-align: center;
  height: 200px;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
  // .fas.fa-plus-circle {
  //   z-index: 3;
  //   position: relative;
  // }
}

// .card-link {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   right: 0;
//   width: 100%;
//   z-index: 2;
//   background: black;
//   opacity: 0;
// }

