.card-booking {
  overflow: hidden;
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 5px 0px;
  position: relative;
  border-radius: 10px;
}

.card-booking img {
  height: 100%;
  width: 300px;
  object-fit: cover;
  position: absolute;
  right: 0px;
}

.card-booking h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-booking h4 {
  color: $green;
}

.card-booking p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-booking-infos {
  padding: 16px;
  position: absolute;
  top: 15px;
  left: 0px;
  text-align: left;
}

.card-btn {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.card-header {
  position: absolute;
  width: 100%;
  top: 5px;
}
